<div class="container container__quizzy container__quizzy--md vcenter register register__container">
  <div class="flex-column flex-fill">
    <div class="container">
      <h1 class="title">QuiZZy</h1>
    </div>
    <div class="container mt-0">
      <p class="header">Sign Up</p>
      <p class="subheader">Create an account to continue</p>
      <form>
        <div class="mb-3 input__username">
          <i class="fa fa-user"></i>
          <input type="text" class="form-control" placeholder="username">
        </div>
        <div class="mb-3 input__email">
          <i class="fa fa-envelope"></i>
          <input type="email" class="form-control" placeholder="email@quizzy.com">
        </div>
        <div class="mb-3 mt-3 input__password">
          <i class="fa fa-lock"></i>
          <input type="{{showPassword ? 'password' : 'text' }}" class="form-control" placeholder="password">
          <i class="fa" [ngClass]="{'fa-eye': showPassword, 'fa-eye-slash': !showPassword}" (click)="showPassword = !showPassword"></i>
        </div>
        <div class="mt-4">
          <button type="submit" class="btn btn-success btn__rounded">Register</button>
        </div>
        <div class="login mt-3">Already have an account? Go to the <a [routerLink]="['/login']"><b>Login Page</b></a>.</div>
      </form>
    </div>
  </div>
</div>
