<div class="container container__quizzy container__quizzy--md vcenter register register__container">
  <div class="flex-column flex-fill">
    <div class="container">
      <h1 class="title">QuiZZy</h1>
    </div>
    <div class="container mt-0">
      <p class="header">Sign Up</p>
      <p class="subheader">Create an account to continue</p>
      <form #f="ngForm" [formGroup]="registerFg" (ngSubmit)="onSubmit()">
        <div class="mb-3 input__name">
          <i class="fa fa-user"></i>
          <input
            type="text"
            class="form-control form-control--rounded"
            placeholder="John Doe"
            formControlName="name"
            [ngClass]="{'error': formSubmitted && form.name?.errors?.required}">
        </div>
        <div class="mb-3 input__email">
          <i class="fa fa-envelope"></i>
          <input
            type="email"
            class="form-control form-control--rounded"
            placeholder="email@quizzy.com"
            formControlName="email"
            [ngClass]="{'error': formSubmitted && form.email?.errors?.required}">
        </div>
        <div class="mb-3 mt-3 input__password">
          <i class="fa fa-lock"></i>
          <input
            type="{{showPassword ? 'password' : 'text' }}"
            class="form-control form-control--rounded"
            placeholder="password"
            formControlName="password"
            [ngClass]="{'error': formSubmitted && form.password?.errors?.required}">
          <i class="fa" [ngClass]="{'fa-eye': showPassword, 'fa-eye-slash': !showPassword}" (click)="showPassword = !showPassword"></i>
        </div>
        <span *ngIf="(formSubmitted && form.password?.errors?.required) || formSubmitted && (form.password?.errors?.minlength || form.password?.errors?.maxlength)">Password should be between 6 and 30 characters</span>
        <span *ngIf="formSubmitted && form.email?.errors?.submitError">{{submitRegisterError}}</span>
        <div class="mt-4">
          <button type="submit" class="btn btn-success btn__rounded">Register</button>
        </div>
        <div class="login mt-3">Already have an account? Go to the <a [routerLink]="['/login']"><b>Login Page</b></a>.</div>
      </form>
    </div>
  </div>
</div>
