<div class="container container__start">
  <div class="section-title text-center mb-3">
    <h3>Analytics</h3>
  </div>
</div>
<div class="container">
  <div class="block block--quizzes my-3">
    <p>89%</p>
    <span>Avg. Score</span>
  </div>
  <div class="block block--quizzes my-3">
    <p>10</p>
    <span>Questions</span>
  </div>
  <div class="block block--quizzes my-3">
    <p>20</p>
    <span>Taken Quizzes</span>
  </div>
  <div class="mt-5 text-center">
    <a class="btn btn-success btn__rounded" [routerLink]="['..']">Back</a>
  </div>
</div>