<div class="container container__start">
  <div class="section-title text-center mb-3">
    <h3>{{(publicUser$ | async)?.name}}</h3>
  </div>
</div>

<div class="container blocks mb-3">
  <div class="block">
    <p>{{quizzes?.length}}</p>
    <span>Total Quizzes</span>
  </div>
  <div class="block">
    <p>{{quizCount}}</p>
    <span>Visited Quiz</span>
  </div>
</div>

<div class="container quiz-list">
  <div class="new-quiz-btn my-4" *ngIf="isOwner">
    <button class="btn btn-success mb-2" (click)="newQuiz()">Create New Quiz</button>
  </div>

  <div class="quiz-result">
    <a (click)="goToQuiz($event, quiz.id)" class="d-flex align-items-center justify-content-between my-3 list__item" *ngFor="let quiz of quizzes">
      <div class="title">
        <p>{{quiz.title}}</p>
      </div>
      <div class="right" *ngIf="isOwner">
        <i class="fa fa-pencil" (click)="onEditQuiz($event, quiz.id)"></i>
        <i class="fa fa-trash" (click)="onDeleteQuiz($event, quiz.id)"></i>
      </div>
    </a>
  </div>
</div>