@import './src/styles/_exports';


h3 {
  @include title(section, setColor(white,base));
}

.blocks {
  display: flex;
  width: 100%;
  gap: 70px;
  justify-content: space-between;
  > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2F80ED;
    // padding: 10px 40px;
    width: 150px;
    height: 75px;
    border-radius: 20px;
    justify-content: center;
    > p {
      @include title(section, setColor(white, light));
      margin-bottom: 0px;
    }
    > span {
      @include text(small, setColor(white, light));
    }
  }
}

.new-quiz-btn {
  display: flex;
  margin-bottom: 15px;
  button {
    width: 100%;
    &.btn-success {
      background-color: setColor(green, base);
    }
  }
  // @include breakpoint(md) {
  //   display: none;
  // }
}

.quiz-list {

  .quiz-form {
    overflow: hidden;
    border-radius: 5px;

    .form-control {
      background-color: rgba(255, 255, 255, 0.2);
      border: 0;
      padding: 12px 15px;
      color: #fff;
      &::-webkit-input-placeholder {
        color: #fff;
      }
    }

    .select {
      background-color: rgba(255, 255, 255, 0.2);
      border: 0;
      padding: 12px 15px;
      color: #fff;
      width: 100%;
      border-radius: 5px;
    }

    .select-container {
      position: relative;
    }
  }

  .list {
    &__item {
      border-radius: 10px;
      padding-left: 20px;
      padding-right: 20px;
      height: 50px;
      color: #fff;
      text-decoration: none;
      background-color: #2F80ED20;

      .right {
        flex: 0 1 42px;
        color: setColor(white, base);
        i {
          cursor: pointer;
          &:first-child {
            margin-right: 15px;
          }
        }
      }

      &:hover {
        color: #222833;
        background-color: #ffffff;
        i {
          color: setColor(primary, base);
        }
      }
    }
  }

  .title {
    flex: 0 1 80%;
    white-space: nowrap;
    overflow: hidden;
    p {
      margin-bottom: 0;
      font-weight: $medium-weight;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }


  .category {
    font-size: em(12);
    margin-bottom: 0;
  }
}
