<div class="container container__quizzy container__quizzy--md vcenter login login__container">
  <div class="flex-column flex-fill">
    <div class="container">
      <h1 class="title">QuiZZy</h1>
    </div>
    <div class="container mt-0">
      <p class="header">Login</p>
      <p class="subheader">Please sign in to continue</p>
      <form #f="ngForm" [formGroup]="loginFg" (ngSubmit)="onSubmit()">
        <div class="mb-3 input__username">
          <i class="fa fa-user"></i>
          <input
            type="text"
            class="form-control form-control--rounded"
            placeholder="email"
            formControlName="email"
            [ngClass]="{'error': formSubmitted && form.email?.errors?.required}"
            >
        </div>
        <div class="mb-3 mt-3 input__password">
          <i class="fa fa-lock"></i>
          <input
            type="{{showPassword ? 'password' : 'text' }}"
            class="form-control form-control--rounded"
            placeholder="password"
            formControlName="password"
            [ngClass]="{'error': formSubmitted && form.password?.errors?.required}">
          <i class="fa" [ngClass]="{'fa-eye': showPassword, 'fa-eye-slash': !showPassword}" (click)="showPassword = !showPassword"></i>
        </div>
        <!-- <span *ngIf="(formSubmitted && form.password?.errors?.required) || formSubmitted && (form.password?.errors?.minlength || form.password?.errors?.maxlength)">Password should be between 6 and 30 characters</span> -->
        <a class="form-text forgot-password" [routerLink]="['/reset-password']">Forgot password?</a>
        <div class="my-4">
          <button type="submit" class="btn btn-primary btn__rounded">Login</button>
        </div>
        <div class="account mt-3">Don't have an account yet? Please <a [routerLink]="['/register']"><b>Sign Up</b></a> first.</div>
      </form>
    </div>
  </div>
</div>
