<nav class="navbar navbar-expand-lg auto" [ngClass]="{'quiz': isQuiz}">
  <div class="container mt-0">
    <button class="btn btn-secondary btn__rounded exit-btn" *ngIf="isQuiz; else toggleBtn" (click)="exitQuiz()">
      Exit Quiz
    </button>
    <ng-template #toggleBtn>
      <button class="navbar-toggler" type="button" (click)="animateMe()">
        <i class="fa fa-bars"></i>
      </button>
    </ng-template>
    <a class="navbar-brand" href="index.html">QuiZZy</a>
    <div class="navbar-group" [@headerCollapse]="state">
      <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="active">
          <i class="fa fa-home"></i>
          <a [routerLink]="['dashboard']" (click)="menuState()" class="nav-link">Dashboard</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <i class="fa fa-list"></i>
          <a [routerLink]="['quiz/list']" (click)="menuState()" class="nav-link">Quizzes</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <i class="fa fa-user"></i>
          <a [routerLink]="['profile']" (click)="menuState()" class="nav-link">Profile</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <i class="fa fa-sign-out"></i>
          <a [routerLink]="['login']" (click)="menuState()" class="nav-link nav-link--admin">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>