@import './src/styles/exports';

.navbar {
  background: #595768;
  position: relative;
  padding: 20px 5px;
  &.quiz {
    padding: 15px 5px;
  }
  top: 0;

  .exit-btn {
    padding: 10px 20px;
    font-size: 12px;
  }

  .navbar-brand {
    color: setColor(white, light);
    font-family: $logo-font;
    font-weight: $bold-weight;
    padding: 0;
    margin: 0;
  }

  .navbar-toggler {
    cursor: pointer;
    border: none;
    color: setColor(white, light);
    padding: 0;
    text-transform: uppercase;
    &:focus {
      outline: none;
    }
  }

  .navbar-group {
    display: block;
    overflow: hidden;
    flex-basis: 100%;
    align-items: center;
    justify-content: center;
    text-align: left;
    font-size: $small-font-size;
    max-height: 400px;

    @include breakpoint(lg) {
      height: inherit;
    }
  }

  .navbar-nav {
    margin-top: 10px;
    .nav-item {
      display: flex;
      align-items: center;
      gap: 10px;
      padding-left: 10px;

      i {
        width: 20px;
      }

      &.active {
        color: $gray-base;
        background-color: setColor(secondary, base);
        padding: 0px 10px;
        border-radius: 15px;
        > a {
          color: $gray-base;
        }
      }
      > .nav-link {
        padding: 7px 0px;
        color: rgba(255,255,255,.7);
        &:hover {
          color: setColor(white, light);
        }
      }
      &:hover {
        color: setColor(white, light);
      }
    }
  }
}

@include breakpoint(lg) {
  .navbar {
    background-color: #595768;
    z-index: 3;
    .navbar-brand {
      color: setColor(white, base);
    }
    .navbar-group {
      display: flex;
      height: inherit;
      justify-content: right;

    }
    .navbar-nav {
      margin-top: 0;
      .nav-item {
        &.active > a {
          color:setColor(white, base);
        }
        .nav-link {
          font-size: 14px;
          padding: 18px 20px;;
          font-weight: 400;
          color: setColor(white, base);
          border-top: none;
          letter-spacing: inherit;
          &--admin {
            border-radius: 5px;
            color: setColor(white, base);
            background-color: setColor(primary, base);
            &:hover {
              background-color: setColor(primary, dark);
            }
          }
        }
      }
    }
  }
}