<div class="container mt-0 d-flex align-content-center justify-content-center text-center vcenter login__container">
  <div class="flex-column flex-fill">
    <div class="container">
      <h1 class="title">QuiZZy</h1>
    </div>
    <div class="container mt-0">
      <form>
        <div class="mb-3 input__email">
          <label for="emailLabel" class="form-label">Email or username</label>
          <input type="email" class="form-control" id="emailLabel" placeholder="email@quizzy.com">
        </div>
        <div class="mt-4">
          <button type="submit" class="btn btn-primary btn__rounded">Reset Password</button>
        </div>
        <div class="form-text mt-3">Back to <a class="form-text" [routerLink]="['/login']">login?</a></div>
      </form>
    </div>
  </div>
</div>
