@import './src/styles/_exports';

.login {
  &__container {
    text-align: center;
    justify-content: center;
    align-content: center;
    max-width: 700px;
    @include breakpoint($screen-md) {
      max-width: 450px;
    }
  }
}

.title {
  margin-bottom: 80px;
}

.input {
  &__password {
    position: relative;

    i.fa-eye, i.fa-eye-slash {
      position: absolute;
      bottom: 10px;
      right: 15px;
      color: black;
    }
  }
}