
<ng-container *ngIf="!!quiz">
  <ng-container *ngIf="status === 'init'">
    <div class="container container__quizzy container__quizzy--md init-quiz vcenter vcenter--header">
      <div class="container__start">
        <h3 class="title">{{quizName}}</h3>
        <p class="description px3">{{quizDescription}}</p>
      </div>
      <div class="d-flex vcenter vcenter--header">
        <button class="btn btn-primary btn__rounded" (click)="startQuiz()">Start Quiz</button>
      </div>
      <div class="sharing my-5 p-3">
        <div class="section mb-2">
          <span class="head">Quiz Code: </span>
          <span class="text"><b>{{quiz.id}}</b></span>
        </div>
        <div class="section">
          <span class="head">Quiz Link: </span>
          <div class="box"><span class="truncate" #link>https://www.quizzy.com/quiz/{{quiz.id}} </span> <i class="fa fa-copy" (click)="copyLink(quiz.id)"></i></div>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="status === 'inProgress'">
    <qz-timer
      [class]="'container container__quizzy'"
      [duration]="duration"
      [reset]="resetTimerSubject"
      (timeEnd)="timerCallback($event)"></qz-timer>
    <qz-question
      [class]="'container container__quizzy'"
      [question]="currentQuestion"
      [questionNumber]="currentQuestionIndex + 1"
      [questionTotal]="totalQuestions"
      [resetSelected]="nextActionSubject"
      (questionResponse)="questionResponse($event)"></qz-question>

    <div class="container container__quizzy mt-sm-5 my-1">
      <div class="d-flex justify-content-center pt-5">
        <div class="ml-auto mr-sm-5">
          <button class="btn btn-primary btn__rounded" (click)="nextQuestion(currentQuestionIndex)">{{buttonText}}</button>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="status === 'showResults'">
    <qz-result
      [class]="'container container__quizzy'"
      [resultData]="quizResponses"
    ></qz-result>
    <div class="container mt-sm-5 my-1">
      <div class="d-flex justify-content-center pt-5">
        <div class="ml-auto mr-sm-5">
          <a [routerLink]="['/quiz/list']" class="btn btn-primary btn__rounded">Finish Quiz</a>
        </div>
      </div>
    </div>
  </ng-container>
</ng-container>