@import './src/styles/exports';

.question__number {
  color: setColor(white, base);
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  span {
    font-size: 20px;
  }
}

hr {
  border: 1px setColor(white, base);
  margin: 0;
}

.container {
  color: #ddd;
  border-radius: 10px;
  padding: 20px;
}

.text {
  @include text(standard, setColor(white, base));
  text-align: center;
}