// //
// // Buttons
// // ----------------------------------------------------------------------------

.btn {
  &-primary {
    background-color: setColor(secondary, base);
  }

  &__rounded {
    border-radius: 30px;
    padding: 10px 30px;
  }

  &__options {
    padding: 10px 20px;
    border: 2px solid #2b4868;
    border-radius: 30px;
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0px;
    }

    &:hover {
      background-color: #13263b;
    }

    &.selected {
      background-color: setColor(secondary, base);
    }

    .text {
      color: setColor(white, base);
    }
  }
}