@import './src/styles/_exports';

.container {
  max-width: 700px;
  flex-direction: column;
  flex: 1 1 auto;

  .title {
    margin-bottom: 20px;
    @include title(section, setColor(white,base));
  }

  .section {
    @include title(small, setColor(white, base));
  }

  &__question {
    .option__remove {
      align-self: center;
      width: 35px;
      padding: 0px 10px;
      a {
        color: setColor(red, base);
      }
    }
  }
}

.input {
  &__duration {
    input {
      width: 45%;
    }
  }
  &__visibility {
    .form-group {
      display: flex;
      align-items: center;
    }
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  position: sticky;
  width: 100%;
  bottom: 0px;
  padding: 15px;
  background-color: #1d1b2d;
}

.form-check-input {
  padding: 15px 15px;
}
