// Colors & shades of gray (less than 50)
// ----------------------------------------------------------------------------
$gray-base : #000;

$color-palette: (
  white: (
    base:         #DDDDDD,
    light:        #FFFFFF,
  ),
  primary: (
    base:         #1F1D36,
    dark:         #0A131F,
    light:        #447EC5
  ),
  secondary: (
    base:         #088DD8,
    dark:         #00363a,
    light:        #2F80ED
  ),
  gray : (
    base:         $gray-base,
    lightest:     #f3f3f3,
    lighter:      #ededed,
    light:        #c3c3c3,
    dark:         #828282,
    darker:       #595768,
    darkest:      #090D0D,
  ),
  blue: (
    base:   #0E415B,
    dark:   #0E415B,
    light:  #8ABCEE
  ),
  green: (
    base:   #219653,
    dark:   #009999,
    light:  #009999
  ),
  red: (
    base:   #a05b56,
    dark:   #c42d27,
    light:  #ED8C73
  ),
  yellow: (
    base:   #F2C94C,
    dark:   #ffec00,
    light:  #ffec00,
    star:   #ffec00
  ),
  alerts: (
    success-bg  : #0B765D,
    info-bg     : #046ca1,
    warning-bg  : #C98300,
    danger-bg   : #c42d27,
  )
);
