<div class="container container__start">
  <div class="section-title text-center mb-3">
    <h3>Analytics</h3>
  </div>
</div>
<div class="container blocks mb-3">
  <div class="block">
    <p>29</p>
    <span>Total Quizzes</span>
  </div>
  <div class="block">
    <p>20</p>
    <span>Taken Quizzes</span>
  </div>
</div>
<div class="container">
  <div class="list">
    <p class="subheader">Quiz Analytics</p>
    <a [routerLink]="['123']" class="d-flex align-items-center justify-content-between my-3 list__item">
      <div>
        <p class="title">Quiz Name 1</p>
      </div>
    </a>

    <a [routerLink]="['345']" class="d-flex align-items-center justify-content-between my-3 list__item">
      <div>
        <p class="title">Quiz Name 2</p>
      </div>
    </a>

    <a [routerLink]="['2423']" class="d-flex align-items-center justify-content-between my-3 list__item">
      <div>
        <p class="title">Quiz Name 3</p>
      </div>
    </a>
  </div>
</div>